<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>pizze</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <h1>nuova pizza!</h1>
    <form id="pizza-form" method="post" th:object="${pizza}" th:action="@{|/pizzas/edit/*{id}|}"
          class="row gy-3">

        <ul>
            <li th:each="err : ${#fields.globalErrors() }" th:text="${err}"></li>
        </ul>

        <div class="col-12">
            <label class="form-label" for="nome">nome</label>
            <input type="text" id="nome" class="form-control" th:field="*{nome}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                <ul>
                    <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="descrizione">descrizione*</label>
            <input type="text" id="descrizione" class="form-control" th:field="*{descrizione}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('descrizione')}">
                <ul>
                    <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-12">
            <label class="form-label" for="prezzo">prezzo*</label>
            <input type="text" id="prezzo" class="form-control" th:field="*{prezzo}"
                   th:errorClass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('prezzo')}">
                <ul>
                    <li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <h4>Ingredienti</h4>
            <div class="form-check" th:each="ing : ${ingredientList}">
                <input class="form-check-input" type="checkbox" th:value="${ing.id}"
                       th:id="|ing_${ing.id}|" th:field="*{ingredients}">
                <label class="form-check-label" th:for="|ing_${ing.id}|" th:text="${ing.name}"></label>
            </div>
        </div>

        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/pizzas}">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

</body>
</html>